html
    head
        title
    body
        form(action='admin' method='post')
            #form-group
                label Message:
                br
                textarea(name="message", rows="6", cols="50")
            br
            <button type="submit" class="btn btn-success">Send</button>